<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
   <h1 class="index-title">Secret Club Messaging App</h1>
   <% if (locals.user) {%>
    <div class="member-header">
        <h2>Welcome back, <%= user.fullname %></h2>  
        <a class="message-btn" href="/new-message">Post a message please!</a>
        <a href="/log-out">Log out</a>
    </div>
  <% } else { %>
  <div class="non-member-header">
    <h2>Log in to the club</h2>
    <form class="log-in-form" action="/log-in" method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="Your email" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <button type="submit">Log In</button>
    </form>
    <a href="/sign-up">Become a member.</a>
  </div>
  <%}%>
  <div class="messages-section">
    <% if (locals.user) {%>
    <h2>Messages</h2>
    <% } else { %>
    <h2>Messages (Log in for secret info)</h2>
    <%}%>
    <ul class="message-list">
    <% if(messages[0]==null){%>
        <h3>No messages yet.</h3>
    <%} else messages.forEach((message) => { %>
        <% console.trace(message) %>
        <li>
            <div class="message-block"> 
                <% if(locals.user) { %>
                    <% if (locals.user.membership == 'y') {%>
                    <span><b>User:</b> <%= message.username %></span>
                    <%}%>
                <%}%>
                <span><b>Title:</b> <%= message.title %></span>
                <span><b>Message:</b> <%= message.text %></span>
                <% if (locals.user) {%>
                    <% if (locals.user.membership == 'y') {%>
                    <span><b>Date sent:</b> <%= message.time_stamp %></span>
                    <%}%>
                <%}%>
                <% if (locals.user) {%>
                    <% if (locals.user.is_admin == true) {%>
                    <a href="/messages/<%= message.id %>"><b>Delete Message</b></a>
                    <%}%>
                <%}%>
            </div>
        </li>
    <% }) %>
    </ul>
  </div>
  
</body>
</html>